In [11]:
import pandas as pd
from sqlalchemy import create_engine,inspect
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

from my_doc import password
import psycopg2 
import io

In [12]:
df_2012=pd.read_csv('Resources/census_comb_2012.csv')
df_2014=pd.read_csv('Resources/census_comb_2014.csv')
df_2015=pd.read_csv('Resources/census_comb_2015.csv')
df_2017=pd.read_csv('Resources/census_comb_2017.csv')
df_2019=pd.read_csv('Resources/census_comb_2019.csv')

In [13]:
df_2012.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [14]:
df_list=[df_2012,df_2014,df_2015,df_2017,df_2019]
col_drop=['House Value','House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate','Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'English Language Rate','Spanish Language Rate','Housing_units']

for df in df_list:
    for column in df.columns:
        if column in col_drop:
            df.drop(column, axis = 1, inplace=True)

In [15]:
df_2012=df_2012.loc[df_2012['State']=='CT']
df_2014=df_2014.loc[df_2014['State']=='CT']
df_2015=df_2015.loc[df_2015['State']=='CT']
df_2017=df_2017.loc[df_2017['State']=='CT']
df_2019=df_2019.loc[df_2019['State']=='CT']

In [16]:
df_2012.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Uneducated Rate,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,State
1063,6001,18410.0,45.1,110439.0,61468.0,4.693102,2.846279,0.195546,90.809343,1.004889,3.416621,5.855513,Avon,Hartford County,41.79,-72.86,CT
1064,6002,20470.0,46.8,71579.0,40761.0,8.319492,5.989253,0.527601,38.451392,55.085491,4.406448,1.314118,Bloomfield,Hartford County,41.85,-72.74,CT
1065,6010,60478.0,40.6,58860.0,30561.0,8.887529,5.320943,0.775489,88.237045,3.743510,9.477827,1.944509,Bristol,Hartford County,41.68,-72.94,CT
1066,6013,9317.0,42.7,106399.0,43173.0,3.617044,2.865729,0.279060,97.542127,1.212837,3.015992,0.676183,Burlington,Hartford County,41.76,-72.96,CT
1067,6016,6332.0,40.9,73404.0,34141.0,5.022110,7.406822,0.268478,87.365761,6.743525,5.022110,2.495262,Broad Brook,Hartford County,41.91,-72.55,CT

In [17]:
df_2012=df_2012.loc[df_2012['Population']>0]
df_2014=df_2014.loc[df_2014['Population']>0]
df_2015=df_2015.loc[df_2015['Population']>0]
df_2017=df_2017.loc[df_2017['Population']>0]
df_2019=df_2019.loc[df_2019['Population']>0]

In [18]:
df_2012.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate',
       'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'State'],
      dtype='object')

In [19]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 2176 to 2458
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   278 non-null    int64
 1   Population                278 non-null    float64
 2   Median Age                278 non-null    float64
 3   Household Income          278 non-null    float64
 4   Per Capita Income         277 non-null    float64
 5   Poverty Rate              278 non-null    float64
 6   Unemployment Rate         278 non-null    float64
 7   Uneducated Rate           278 non-null    float64
 8   White Population Rate     278 non-null    float64
 9   Black Population Rate     278 non-null    float64
 10  Hispanic Population Rate  278 non-null    float64
 11  Asian Population Rate     278 non-null    float64
 12  City                      278 non-null    object
 13  County                    278 non-null    object
 14  Lat                       278 non-null    float64
 15  Lng                       278 non-null    float64
 16  State                     278 non-null    object
dtypes: float64(13), int64(1), object(3)
memory usage: 39.1+ KB

In [20]:
df_2012.to_csv('Resources/df_2012.csv',index=False)
df_2014.to_csv('Resources/df_2014.csv',index=False)
df_2015.to_csv('Resources/df_2015.csv',index=False)
df_2017.to_csv('Resources/df_2017.csv',index= False)
df_2019.to_csv('Resources/df_2019.csv',index= False)