In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
from config import pwd
import psycopg2

In [8]:
#Extract csv into dataframe
CTdrug_overdose_csv = "Accidental_Drug_Related_Deaths_2012-2020.csv"
drug_df = pd.read_csv(CTdrug_overdose_csv)
drug_df.head()

,ID,Date,Date Type,Age,Sex,Race,Residence City,Residence County,Residence State,Death City,...,Morphine (Not Heroin),Hydromorphone,Xylazine,Other,Opiate NOS,Any Opioid,Manner of Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,12-0187,07/17/2012,DateofDeath,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,...,NaN,NaN,NaN,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)"
1,12-0258,10/01/2012,DateofDeath,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)"
2,13-0146,04/28/2013,DateofDeath,28.0,Male,White,NaN,NaN,NaN,HARTFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
3,14-0150,04/06/2014,DateofDeath,46.0,Male,White,WATERBURY,NaN,NaN,TORRINGTON,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"TORRINGTON, CT\n(41.812186, -73.101552)","WATERBURY, CT\n(41.554261, -73.043069)","CT\n(41.575155, -72.738288)"
4,14-0183,04/27/2014,DateofDeath,52.0,Male,White,NEW LONDON,NaN,NaN,NEW LONDON,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"NEW LONDON, CT\n(41.355167, -72.099561)","NEW LONDON, CT\n(41.355167, -72.099561)","CT\n(41.575155, -72.738288)"

In [28]:
#Create dataframe for specific columns
drug_df[['City','state','Lat']] = drug_df['ResidenceCityGeo'].str.split(',',expand=True)

drug_df[['state','Lat']] = drug_df['state'].str.split('\n',expand=True)
drug_df

,ID,Date,Date Type,Age,Sex,Race,Residence City,Residence County,Residence State,Death City,...,Other,Opiate NOS,Any Opioid,Manner of Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo,City,state,Lat
0,12-0187,07/17/2012,DateofDeath,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,...,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)",NaN,NaN,NaN
1,12-0258,10/01/2012,DateofDeath,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,...,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)",PORTLAND,CT,(41.581345
2,13-0146,04/28/2013,DateofDeath,28.0,Male,White,NaN,NaN,NaN,HARTFORD,...,NaN,NaN,NaN,Accident,"HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)",CT\n(41.575155,-72.738288),None
3,14-0150,04/06/2014,DateofDeath,46.0,Male,White,WATERBURY,NaN,NaN,TORRINGTON,...,NaN,NaN,NaN,Accident,"TORRINGTON, CT\n(41.812186, -73.101552)","WATERBURY, CT\n(41.554261, -73.043069)","CT\n(41.575155, -72.738288)",WATERBURY,CT,(41.554261
4,14-0183,04/27/2014,DateofDeath,52.0,Male,White,NEW LONDON,NaN,NaN,NEW LONDON,...,NaN,NaN,NaN,Accident,"NEW LONDON, CT\n(41.355167, -72.099561)","NEW LONDON, CT\n(41.355167, -72.099561)","CT\n(41.575155, -72.738288)",NEW LONDON,CT,(41.355167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7674,14-0128,03/20/2014,DateofDeath,25.0,Male,White,MILFORD,NaN,NaN,WETHERSFIELD,...,NaN,NaN,NaN,Accident,"WETHERSFIELD, CT\n(41.712487, -72.663607)","MILFORD, CT\n(41.224276, -73.057564)","CT\n(41.575155, -72.738288)",MILFORD,CT,(41.224276
7675,20-1217,11/19/2020,DateofDeath,62.0,Female,White,STAMFORD,FAIRFIELD,CT,STAMFORD,...,NaN,NaN,Y,Accident,"Stamford, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)",STAMFORD,CT,(41.051924
7676,20-1138,10/31/2020,DateofDeath,50.0,Female,White,NEW BRITAIN,HARTFORD,CT,NEW BRITAIN,...,NaN,NaN,Y,Accident,"New Britain, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)",NEW BRITAIN,CT,(41.667528
7677,16-0640,09/17/2016,DateofDeath,36.0,Male,White,SHELTON,FAIRFIELD,CT,SHELTON,...,NaN,NaN,Y,Accident,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)",SHELTON,CT,(41.316843
7678,19-0963,10/25/2019,DateofDeath,33.0,Male,White,NEW HAVEN,NEW HAVEN,CT,NEW HAVEN,...,NaN,NaN,Y,Accident,"New Haven, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)",NEW HAVEN,CT,(41.308252

In [32]:
drug_cols = ['ID','Date','Sex','Race','Cause of Death','City','state']
drug_transformed = drug_df[drug_cols].copy()

drug_transformed.head(20)


drug_transformed = drug_transformed.replace('\n','',regex=True)
drug_transformed.head()

,ID,Date,Sex,Race,Cause of Death,City,state
0,12-0187,07/17/2012,Female,White,"1,1-Difluoroethane Toxicity",NaN,NaN
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,PORTLAND,CT
2,13-0146,04/28/2013,Male,White,Acute Heroin Toxicity,CT(41.575155,-72.738288)
3,14-0150,04/06/2014,Male,White,Heroin and Cocaine Intoxication,WATERBURY,CT
4,14-0183,04/27/2014,Male,White,Acute Heroin Intoxication,NEW LONDON,CT

In [33]:
newdrug_df = drug_transformed[~drug_transformed['City'].fillna('').str.findall(r'\d').astype(bool)]
newdrug_df.head()

,ID,Date,Sex,Race,Cause of Death,City,state
0,12-0187,07/17/2012,Female,White,"1,1-Difluoroethane Toxicity",NaN,NaN
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,PORTLAND,CT
3,14-0150,04/06/2014,Male,White,Heroin and Cocaine Intoxication,WATERBURY,CT
4,14-0183,04/27/2014,Male,White,Acute Heroin Intoxication,NEW LONDON,CT
5,15-0023,01/12/2015,Male,White,Acute Cocaine Toxicity,NEW LONDON,CT

In [34]:


newdrug_df.dropna(how = 'any',inplace=True)
newdrug_df

<ipython-input-34-5cd6752a31f4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdrug_df.dropna(how = 'any',inplace=True)

,ID,Date,Sex,Race,Cause of Death,City,state
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,PORTLAND,CT
3,14-0150,04/06/2014,Male,White,Heroin and Cocaine Intoxication,WATERBURY,CT
4,14-0183,04/27/2014,Male,White,Acute Heroin Intoxication,NEW LONDON,CT
5,15-0023,01/12/2015,Male,White,Acute Cocaine Toxicity,NEW LONDON,CT
6,15-0052,02/01/2015,Male,White,Acute Heroin Toxicity,MIDDLETOWN,CT
...,...,...,...,...,...,...,...
7674,14-0128,03/20/2014,Male,White,Heroin Intoxication,MILFORD,CT
7675,20-1217,11/19/2020,Female,White,"Multidrug Toxicity Including Cocaine, Fentanyl...",STAMFORD,CT
7676,20-1138,10/31/2020,Female,White,Acute Intoxication Due To The Combined Effects...,NEW BRITAIN,CT
7677,16-0640,09/17/2016,Male,White,Acute Intoxication The Combined Effects of Her...,SHELTON,CT
7678,19-0963,10/25/2019,Male,White,Pulmonary Embolus Complicating Lower Extremity...,NEW HAVEN,CT

In [36]:
newdrug_df.set_index("ID",inplace=True)
newdrug_df.head()

,Date,Sex,Race,Cause of Death,City,state
ID,,,,,,
12-0258,10/01/2012,Male,White,Heroin Toxicity,PORTLAND,CT
14-0150,04/06/2014,Male,White,Heroin and Cocaine Intoxication,WATERBURY,CT
14-0183,04/27/2014,Male,White,Acute Heroin Intoxication,NEW LONDON,CT
15-0023,01/12/2015,Male,White,Acute Cocaine Toxicity,NEW LONDON,CT
15-0052,02/01/2015,Male,White,Acute Heroin Toxicity,MIDDLETOWN,CT

In [43]:
#Connecting to database

engine = create_engine(f'postgresql+psycopg2://postgres:{pwd}@localhost:5432/drug_db')
conn=engine.connect()

In [48]:
engine.table_names()

<ipython-input-48-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['drugOverdose', 'drugoverdose']

In [49]:
newdrug_df.to_sql(name='drugoverdose',con=engine,if_exists='append',index=False)