In [27]:
# Dependencies
import pandas as pd 
import os

from sqlalchemy import create_engine
import pymongo
import datetime
import requests

import psycopg2


from config import password

# Extraction

## Read all the csv files

In [12]:
# file paths
df_2012 = "resources/df_2012.csv"
df_2014 = "resources/df_2014.csv"
df_2017 = "resources/df_2017.csv"
df_2019 = "resources/df_2019.csv"
drug_accident_path = "resources/Accidental_Drug_Related_Deaths_2012-2020.csv"
# read csv files
census_2012 = pd.read_csv(df_2012_path)
census_2014 = pd.read_csv(df_2014_path)
census_2019 = pd.read_csv(df_2017_path)
census_2012 = pd.read_csv(df_2019_path)
drug_accident_df = pd.read_csv(drug_accident_path)

In [31]:
drug_accident_df.head(2)

,ID,Date,Date Type,Age,Sex,Race,Residence City,Residence County,Residence State,Death City,...,Morphine (Not Heroin),Hydromorphone,Xylazine,Other,Opiate NOS,Any Opioid,Manner of Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,12-0187,07/17/2012,DateofDeath,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,...,NaN,NaN,NaN,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)"
1,12-0258,10/01/2012,DateofDeath,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)"

In [35]:
drug_accident_df.Date.unique()

array(['07/17/2012', '10/01/2012', '04/28/2013', ..., '01/08/2013',
       '09/10/2015', '03/20/2014'], dtype=object)

In [14]:
drug_accident_df.columns

Index(['ID', 'Date', 'Date Type', 'Age', 'Sex', 'Race', 'Residence City',
       'Residence County', 'Residence State', 'Death City', 'Death County',
       'Location', 'Location if Other', 'Description of Injury',
       'Injury Place', 'Injury City', 'Injury County', 'Injury State',
       'Cause of Death', 'Other Significant Conditions ', 'Heroin', 'Cocaine',
       'Fentanyl', 'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine (Not Heroin)', 'Hydromorphone', 'Xylazine', 'Other',
       'Opiate NOS', 'Any Opioid', 'Manner of Death', 'DeathCityGeo',
       'ResidenceCityGeo', 'InjuryCityGeo'],
      dtype='object')

In [15]:
census_2012.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate',
       'Uneducated Rate', 'English Language', 'Spanish Language',
       'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'State'],
      dtype='object')

# Load

In [28]:
# create a connection to database
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/CT_drug_db', echo=False)
conn = engine.connect()

In [20]:
engine.table_names()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['ct_census_2012',
 'ct_census_2014',
 'ct_census_2015',
 'ct_census_2017',
 'ct_census_2019']

In [30]:
census_2012.to_sql(name="ct_census_2012", con=engine, if_exists="append", index=True)

TypeError: execute_values() got an unexpected keyword argument 'fetch'