### Related dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
import numpy as np
import requests
import psycopg2

from census import Census

# Import password and api key
from config2 import api_key, password

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

# Extract

### Perform API request for census data from 2012 to 2019

In [2]:
# Retrive census data for 2010
c = Census(api_key, year=2012)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2012'
census_2012 = census_pd

In [3]:
# Retrive census data for 2013
c = Census(api_key, year=2013)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2013'
census_2013 = census_pd

In [4]:
# Retrive census data for 2014
c = Census(api_key, year=2014)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2014'
census_2014 = census_pd

In [5]:
# Retrive census data for 2015
c = Census(api_key, year=2015)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2015'
census_2015 = census_pd

In [6]:
# Retrive census data for 2016
c = Census(api_key, year=2016)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2016'
census_2016 = census_pd

In [7]:
# Retrive census data for 2017
c = Census(api_key, year=2017)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2017'
census_2017 = census_pd

In [8]:
# Retrive census data for 2018
c = Census(api_key, year=2018)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2018'
census_2018 = census_pd

In [9]:
# Retrive census data for 2019
c = Census(api_key, year=2019)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2019'
census_2019 = census_pd

In [10]:
# merge all data frames from 2012 to 2019 and save as .csv format
frames = [census_2012, census_2013, census_2014, census_2015, census_2016, census_2017, census_2018, census_2019]
census_ct = pd.concat(frames)
census_ct

,Name,Household Income,White,Black,American Indian,Asian,Native Hawaiian,Two or more races,Hispanic,Population,Median Age,Per Capita Income,Poverty Count,Non Educated,State,county,County,Poverty Rate,Year
0,"Windham County, Connecticut",58489.0,108037.0,2233.0,337.0,1420.0,44.0,3111.0,11332.0,118046.0,39.4,27456.0,13303.0,865.0,09,015,Windham County,11.269336,2012
1,"Middlesex County, Connecticut",76659.0,147872.0,7618.0,126.0,4430.0,82.0,3417.0,7968.0,165639.0,43.0,39776.0,9517.0,703.0,09,007,Middlesex County,5.745628,2012
2,"New Haven County, Connecticut",62234.0,649827.0,107283.0,2188.0,30743.0,416.0,21164.0,129612.0,860995.0,39.1,32487.0,100343.0,6236.0,09,009,New Haven County,11.654307,2012
3,"Litchfield County, Connecticut",71345.0,178558.0,2229.0,507.0,3099.0,8.0,3100.0,8575.0,189277.0,44.4,37410.0,11472.0,871.0,09,005,Litchfield County,6.060958,2012
4,"Hartford County, Connecticut",64752.0,654726.0,117181.0,2327.0,38823.0,397.0,24451.0,137155.0,893504.0,39.9,34356.0,99425.0,6892.0,09,003,Hartford County,11.127538,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,"New London County, Connecticut",73490.0,215896.0,15537.0,1650.0,11091.0,84.0,14271.0,28213.0,267390.0,41.4,39426.0,24040.0,1531.0,09,011,New London County,8.990613,2019
4,"Middlesex County, Connecticut",85898.0,143486.0,9119.0,312.0,5017.0,10.0,3367.0,10095.0,163053.0,45.7,46023.0,10944.0,819.0,09,007,Middlesex County,6.711928,2019
5,"Tolland County, Connecticut",87069.0,132820.0,4806.0,88.0,7371.0,3.0,3579.0,8332.0,151063.0,37.7,41371.0,9996.0,313.0,09,013,Tolland County,6.617107,2019
6,"Fairfield County, Connecticut",95645.0,688856.0,109186.0,2074.0,50339.0,540.0,29740.0,185996.0,943926.0,40.6,57263.0,82327.0,8138.0,09,001,Fairfield County,8.721764,2019
7,"Litchfield County, Connecticut",79906.0,168841.0,3165.0,498.0,3438.0,9.0,3959.0,11436.0,182002.0,47.3,44480.0,12416.0,881.0,09,005,Litchfield County,6.821903,2019

### Read CSV file for drug overdose accident in Connecticus from 2012 to 2020

In [1]:
drug_df = pd.read_csv("resources/Accidental_Drug_Related_Deaths_2012-2020.csv")
drug_df.columns

NameError: name 'pd' is not defined

# TRANSFORM

## Clean census data

In [12]:
census_ct.head(2)

,Name,Household Income,White,Black,American Indian,Asian,Native Hawaiian,Two or more races,Hispanic,Population,Median Age,Per Capita Income,Poverty Count,Non Educated,State,county,County,Poverty Rate,Year
0,"Windham County, Connecticut",58489.0,108037.0,2233.0,337.0,1420.0,44.0,3111.0,11332.0,118046.0,39.4,27456.0,13303.0,865.0,09,015,Windham County,11.269336,2012
1,"Middlesex County, Connecticut",76659.0,147872.0,7618.0,126.0,4430.0,82.0,3417.0,7968.0,165639.0,43.0,39776.0,9517.0,703.0,09,007,Middlesex County,5.745628,2012

In [13]:
# Drop some columns
census_ct = census_ct[[ 'Year',  'County', 'Household Income', 'Population','White', 'Black', 'American Indian',
       'Asian', 'Native Hawaiian', 'Hispanic','Median Age', 'Per Capita Income', 'Poverty Count','Poverty Rate','Non Educated']]
# Split and extract only county
county_lst = census_ct.County.tolist()
county_lst = [x.strip("County") for x in county_lst]
census_ct.County = county_lst
census_ct.head()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Year,County,Household Income,Population,White,Black,American Indian,Asian,Native Hawaiian,Hispanic,Median Age,Per Capita Income,Poverty Count,Poverty Rate,Non Educated
0,2012,Windham,58489.0,118046.0,108037.0,2233.0,337.0,1420.0,44.0,11332.0,39.4,27456.0,13303.0,11.269336,865.0
1,2012,Middlesex,76659.0,165639.0,147872.0,7618.0,126.0,4430.0,82.0,7968.0,43.0,39776.0,9517.0,5.745628,703.0
2,2012,New Haven,62234.0,860995.0,649827.0,107283.0,2188.0,30743.0,416.0,129612.0,39.1,32487.0,100343.0,11.654307,6236.0
3,2012,Litchfield,71345.0,189277.0,178558.0,2229.0,507.0,3099.0,8.0,8575.0,44.4,37410.0,11472.0,6.060958,871.0
4,2012,Hartford,64752.0,893504.0,654726.0,117181.0,2327.0,38823.0,397.0,137155.0,39.9,34356.0,99425.0,11.127538,6892.0

In [14]:
census_ct["County"] = census_ct["County"].str.upper()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
census_ct.insert(0, 'id', range(1, 1+ len(census_ct)))
census_ct.set_index("id", inplace=True)

census_ct.to_csv("Resources/census_CT.csv")

In [16]:
census_ct.head()

,Year,County,Household Income,Population,White,Black,American Indian,Asian,Native Hawaiian,Hispanic,Median Age,Per Capita Income,Poverty Count,Poverty Rate,Non Educated
id,,,,,,,,,,,,,,,
1,2012,WINDHAM,58489.0,118046.0,108037.0,2233.0,337.0,1420.0,44.0,11332.0,39.4,27456.0,13303.0,11.269336,865.0
2,2012,MIDDLESEX,76659.0,165639.0,147872.0,7618.0,126.0,4430.0,82.0,7968.0,43.0,39776.0,9517.0,5.745628,703.0
3,2012,NEW HAVEN,62234.0,860995.0,649827.0,107283.0,2188.0,30743.0,416.0,129612.0,39.1,32487.0,100343.0,11.654307,6236.0
4,2012,LITCHFIELD,71345.0,189277.0,178558.0,2229.0,507.0,3099.0,8.0,8575.0,44.4,37410.0,11472.0,6.060958,871.0
5,2012,HARTFORD,64752.0,893504.0,654726.0,117181.0,2327.0,38823.0,397.0,137155.0,39.9,34356.0,99425.0,11.127538,6892.0

In [17]:
census_ct.columns = map(str.lower, census_ct.columns)

In [18]:
census_ct = census_ct.rename(columns = {'household income':'household_income','white':'white_population_rate', 'black':'black_population_rate',
       'american indian':'american_indian_population_rate', 'asian':'asian_population_rate', 'native hawaiian':'native_hawaiian_population_rate', 'hispanic':'hispanic_population_rate', 'median age':'median_age',
       'per capita income':'per_capita_income', 'poverty count':'poverty_count', 'poverty rate':'poverty_rate', 'non educated':'uneducated_rate'})
census_ct.head()

,year,county,household_income,population,white_population_rate,black_population_rate,american_indian_population_rate,asian_population_rate,native_hawaiian_population_rate,hispanic_population_rate,median_age,per_capita_income,poverty_count,poverty_rate,uneducated_rate
id,,,,,,,,,,,,,,,
1,2012,WINDHAM,58489.0,118046.0,108037.0,2233.0,337.0,1420.0,44.0,11332.0,39.4,27456.0,13303.0,11.269336,865.0
2,2012,MIDDLESEX,76659.0,165639.0,147872.0,7618.0,126.0,4430.0,82.0,7968.0,43.0,39776.0,9517.0,5.745628,703.0
3,2012,NEW HAVEN,62234.0,860995.0,649827.0,107283.0,2188.0,30743.0,416.0,129612.0,39.1,32487.0,100343.0,11.654307,6236.0
4,2012,LITCHFIELD,71345.0,189277.0,178558.0,2229.0,507.0,3099.0,8.0,8575.0,44.4,37410.0,11472.0,6.060958,871.0
5,2012,HARTFORD,64752.0,893504.0,654726.0,117181.0,2327.0,38823.0,397.0,137155.0,39.9,34356.0,99425.0,11.127538,6892.0

In [19]:
census_ct['year'] = pd.to_datetime(census_ct['year'])
census_ct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 1 to 64
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             64 non-null     datetime64[ns]
 1   county                           64 non-null     object
 2   household_income                 64 non-null     float64
 3   population                       64 non-null     float64
 4   white_population_rate            64 non-null     float64
 5   black_population_rate            64 non-null     float64
 6   american_indian_population_rate  64 non-null     float64
 7   asian_population_rate            64 non-null     float64
 8   native_hawaiian_population_rate  64 non-null     float64
 9   hispanic_population_rate         64 non-null     float64
 10  median_age                       64 non-null     float64
 11  per_capita_income                64 non-null     float64
 12  poverty_count                    64 non-null     float64
 13  poverty_rate                     64 non-null     float64
 14  uneducated_rate                  64 non-null     float64
dtypes: datetime64[ns](1), float64(13), object(1)
memory usage: 8.0+ KB

## Drug overdose death data cleaning

In [20]:
# Create dataframe for specific columns
drug_df[['City','state','Lat']] = drug_df['ResidenceCityGeo'].str.split(',',expand=True)

drug_df[['state','Lat']] = drug_df['state'].str.split('\n',expand=True)

In [21]:
drug_cols = ['ID','Date','Sex','Race','Cause of Death','Residence County','City','state']
drug_transformed = drug_df[drug_cols].copy()

drug_transformed.head(20)

drug_transformed = drug_transformed.replace('\n','',regex=True)
drug_transformed.head()

,ID,Date,Sex,Race,Cause of Death,Residence County,City,state
0,12-0187,07/17/2012,Female,White,"1,1-Difluoroethane Toxicity",PUTNAM,NaN,NaN
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,MIDDLESEX,PORTLAND,CT
2,13-0146,04/28/2013,Male,White,Acute Heroin Toxicity,NaN,CT(41.575155,-72.738288)
3,14-0150,04/06/2014,Male,White,Heroin and Cocaine Intoxication,NaN,WATERBURY,CT
4,14-0183,04/27/2014,Male,White,Acute Heroin Intoxication,NaN,NEW LONDON,CT

In [22]:
newdrug_df = drug_transformed[~drug_transformed['City'].fillna('').str.findall(r'\d').astype(bool)]
newdrug_df.head()

,ID,Date,Sex,Race,Cause of Death,Residence County,City,state
0,12-0187,07/17/2012,Female,White,"1,1-Difluoroethane Toxicity",PUTNAM,NaN,NaN
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,MIDDLESEX,PORTLAND,CT
3,14-0150,04/06/2014,Male,White,Heroin and Cocaine Intoxication,NaN,WATERBURY,CT
4,14-0183,04/27/2014,Male,White,Acute Heroin Intoxication,NaN,NEW LONDON,CT
5,15-0023,01/12/2015,Male,White,Acute Cocaine Toxicity,NEW LONDON,NEW LONDON,CT

In [23]:
newdrug_df.dropna(how = 'any',inplace=True)
newdrug_df

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ID,Date,Sex,Race,Cause of Death,Residence County,City,state
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,MIDDLESEX,PORTLAND,CT
5,15-0023,01/12/2015,Male,White,Acute Cocaine Toxicity,NEW LONDON,NEW LONDON,CT
6,15-0052,02/01/2015,Male,White,Acute Heroin Toxicity,MIDDLESEX,MIDDLETOWN,CT
8,15-0249,05/26/2015,Female,White,Cocaine,NEW HAVEN,WATERBURY,CT
9,15-0365,07/17/2015,Male,White,Acute Heroin Toxicity,WINDHAM,CANTERBURY,CT
...,...,...,...,...,...,...,...,...
7673,18-0648,08/18/2018,Female,Black,"Multidrug Toxicity Including Cocaine, Fentanyl...",NEW HAVEN,WATERBURY,CT
7675,20-1217,11/19/2020,Female,White,"Multidrug Toxicity Including Cocaine, Fentanyl...",FAIRFIELD,STAMFORD,CT
7676,20-1138,10/31/2020,Female,White,Acute Intoxication Due To The Combined Effects...,HARTFORD,NEW BRITAIN,CT
7677,16-0640,09/17/2016,Male,White,Acute Intoxication The Combined Effects of Her...,FAIRFIELD,SHELTON,CT
7678,19-0963,10/25/2019,Male,White,Pulmonary Embolus Complicating Lower Extremity...,NEW HAVEN,NEW HAVEN,CT

In [24]:
newdrug_df['Date']=pd.to_datetime(newdrug_df['Date'])

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
newdrug_df=newdrug_df.rename(columns={'ID':'drugid',
                                      'Date':'date',
                                       'Sex':'sex',
                                      'Race':'race',
                                      'Cause of Death':'cause_of_death',
                                      'Residence County':'county',
                                      'City':'city'})

In [26]:
newdrug_df.insert(0, 'id', range(1, 1+ len(newdrug_df)))

In [27]:
newdrug_df.set_index("id",inplace=True)

In [28]:
newdrug_df.county.unique()

array(['MIDDLESEX', 'NEW LONDON', 'NEW HAVEN', 'WINDHAM', 'HARTFORD',
       'TOLLAND', 'FAIRFAX', 'FAIRFIELD', 'LITCHFIELD', 'CARROLL',
       'BRISTOL', 'NEW HANOVER', 'BREVARD', 'BRUNSWICK', 'WESTCHESTER',
       'WASHINGTON', 'KINGS', 'DAUPHIN', 'SAINT LUCIE', 'OTSEGO',
       'LOS ANGELES', 'DUTCHESS', 'APPOMATTOX', 'PUTNAM', 'MONMOUTH',
       'ROCKINGHAM', 'ESSEX', 'HAMPDEN', 'NEW YORK', 'PALM BEACH',
       'ULSTER', 'GLOUCESTER', 'SUFFOLK', 'HARRIS', 'USA', 'FRANKLIN',
       'SAN FRANCISCO', 'PLYMOUTH', 'HIGHLANDS', 'NASSAU', 'MUSCOGEE',
       'PROVIDENCE', 'HILLSBOROUGH', 'BENNINGTON', 'COVINGTON', 'DURHAM',
       'HAMPSHIRE', 'KNOX', 'BEAUFORT', 'CLINTON', 'PASSAIC', 'NEWPORT',
       'ORANGE', 'LEE', 'WILLIAMSON', 'LEON', 'UNION', 'KENT', 'BRONX',
       'JEFFERSON', 'SANTA CRUZ'], dtype=object)

In [29]:

count_list = [‘FAIRFIELD’, ‘MIDDLESEX’, ‘HARTFORD’, ‘LITCHFIELD’, ‘NEW LONDON’,
       ‘WINDHAM’,‘TOLLAND’, ‘NEW HAVEN’]
newdrug_df = newdrug_df.loc([newdrug_df['county'] = ‘FAIRFIELD’])

SyntaxError: invalid character in identifier (<ipython-input-29-f8bc7a18f02a>, line 1)

## Drug overdose death data cleaning 2

In [30]:
# read CSV file
drug_accident = drug_df
drug_accident.head(2)

,ID,Date,Date Type,Age,Sex,Race,Residence City,Residence County,Residence State,Death City,...,Other,Opiate NOS,Any Opioid,Manner of Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo,City,state,Lat
0,12-0187,07/17/2012,DateofDeath,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,...,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)",NaN,NaN,NaN
1,12-0258,10/01/2012,DateofDeath,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,...,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)",PORTLAND,CT,(41.581345

In [31]:
drug_accident.columns

Index(['ID', 'Date', 'Date Type', 'Age', 'Sex', 'Race', 'Residence City',
       'Residence County', 'Residence State', 'Death City', 'Death County',
       'Location', 'Location if Other', 'Description of Injury',
       'Injury Place', 'Injury City', 'Injury County', 'Injury State',
       'Cause of Death', 'Other Significant Conditions ', 'Heroin', 'Cocaine',
       'Fentanyl', 'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine (Not Heroin)', 'Hydromorphone', 'Xylazine', 'Other',
       'Opiate NOS', 'Any Opioid', 'Manner of Death', 'DeathCityGeo',
       'ResidenceCityGeo', 'InjuryCityGeo', 'City', 'state', 'Lat'],
      dtype='object')

In [32]:
# Fitler out unrelated columns
target_cols = ['Date', 'Age', 'Sex', 'Race', 'Residence City',
       'Residence County', 'Residence State', 'Cause of Death', 'Heroin', 'Cocaine',
       'Fentanyl', 'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine (Not Heroin)', 'Hydromorphone', 'Xylazine', 'Other',
       'Opiate NOS', 'Any Opioid', 'Manner of Death']
drug_death = drug_accident[target_cols].copy()

In [58]:
drug_accident["Residence State"].nunique()

29

In [33]:
# Filter only data from Connecticut 
drug_death = drug_death.loc[drug_death['Residence State'] == 'CA']
drug_death.head(2)

,Date,Age,Sex,Race,Residence City,Residence County,Residence State,Cause of Death,Heroin,Cocaine,...,Methadone,Amphet,Tramad,Morphine (Not Heroin),Hydromorphone,Xylazine,Other,Opiate NOS,Any Opioid,Manner of Death
5,01/12/2015,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Acute Cocaine Toxicity,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
6,02/01/2015,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Acute Heroin Toxicity,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident

In [34]:
drug_death["Residence County"].value_counts()

HARTFORD      1643
NEW HAVEN     1612
FAIRFIELD      924
NEW LONDON     525
LITCHFIELD     352
MIDDLESEX      258
WINDHAM        222
TOLLAND        182
Name: Residence County, dtype: int64

In [35]:
drug_death.columns

Index(['Date', 'Age', 'Sex', 'Race', 'Residence City', 'Residence County',
       'Residence State', 'Cause of Death', 'Heroin', 'Cocaine', 'Fentanyl',
       'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine (Not Heroin)', 'Hydromorphone', 'Xylazine', 'Other',
       'Opiate NOS', 'Any Opioid', 'Manner of Death'],
      dtype='object')

In [36]:
drug_death.isnull().sum()

Date                        0
Age                         0
Sex                         7
Race                       13
Residence City              3
Residence County           58
Residence State             0
Cause of Death              0
Heroin                   3534
Cocaine                  3875
Fentanyl                 1913
Fentanyl Analogue        5246
Oxycodone                5250
Oxymorphone              5715
Ethanol                  4199
Hydrocodone              5686
Benzodiazepine           4219
Methadone                5251
Amphet                   5498
Tramad                   5609
Morphine (Not Heroin)    5736
Hydromorphone            5731
Xylazine                 5644
Other                    5393
Opiate NOS               5669
Any Opioid               1303
Manner of Death             1
dtype: int64

In [37]:
# Filter out any NaN in 'Race', 'Residence County' and 'Manner of Death'
drug_death = drug_death.dropna(subset=['Race', 'Sex', 'Residence City','Residence County', 'Manner of Death'])
drug_death.isnull().sum()

Date                        0
Age                         0
Sex                         0
Race                        0
Residence City              0
Residence County            0
Residence State             0
Cause of Death              0
Heroin                   3484
Cocaine                  3823
Fentanyl                 1886
Fentanyl Analogue        5173
Oxycodone                5172
Oxymorphone              5633
Ethanol                  4144
Hydrocodone              5606
Benzodiazepine           4159
Methadone                5180
Amphet                   5421
Tramad                   5528
Morphine (Not Heroin)    5655
Hydromorphone            5649
Xylazine                 5564
Other                    5315
Opiate NOS               5588
Any Opioid               1277
Manner of Death             0
dtype: int64

In [38]:
drug_death.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5694 entries, 5 to 7678
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   5694 non-null   object
 1   Age                    5694 non-null   float64
 2   Sex                    5694 non-null   object
 3   Race                   5694 non-null   object
 4   Residence City         5694 non-null   object
 5   Residence County       5694 non-null   object
 6   Residence State        5694 non-null   object
 7   Cause of Death         5694 non-null   object
 8   Heroin                 2210 non-null   object
 9   Cocaine                1871 non-null   object
 10  Fentanyl               3808 non-null   object
 11  Fentanyl Analogue      521 non-null    object
 12  Oxycodone              522 non-null    object
 13  Oxymorphone            61 non-null     object
 14  Ethanol                1550 non-null   object
 15  Hydrocodone            88 non-null     object
 16  Benzodiazepine         1535 non-null   object
 17  Methadone              514 non-null    object
 18  Amphet                 273 non-null    object
 19  Tramad                 166 non-null    object
 20  Morphine (Not Heroin)  39 non-null     object
 21  Hydromorphone          45 non-null     object
 22  Xylazine               130 non-null    object
 23  Other                  379 non-null    object
 24  Opiate NOS             106 non-null    object
 25  Any Opioid             4417 non-null   object
 26  Manner of Death        5694 non-null   object
dtypes: float64(1), object(26)
memory usage: 1.2+ MB

In [39]:
# Change data type of column 'Date' to datetime
drug_death['Date'] = pd.to_datetime(drug_death['Date'])

In [40]:
drug_death.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5694 entries, 5 to 7678
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   5694 non-null   datetime64[ns]
 1   Age                    5694 non-null   float64
 2   Sex                    5694 non-null   object
 3   Race                   5694 non-null   object
 4   Residence City         5694 non-null   object
 5   Residence County       5694 non-null   object
 6   Residence State        5694 non-null   object
 7   Cause of Death         5694 non-null   object
 8   Heroin                 2210 non-null   object
 9   Cocaine                1871 non-null   object
 10  Fentanyl               3808 non-null   object
 11  Fentanyl Analogue      521 non-null    object
 12  Oxycodone              522 non-null    object
 13  Oxymorphone            61 non-null     object
 14  Ethanol                1550 non-null   object
 15  Hydrocodone            88 non-null     object
 16  Benzodiazepine         1535 non-null   object
 17  Methadone              514 non-null    object
 18  Amphet                 273 non-null    object
 19  Tramad                 166 non-null    object
 20  Morphine (Not Heroin)  39 non-null     object
 21  Hydromorphone          45 non-null     object
 22  Xylazine               130 non-null    object
 23  Other                  379 non-null    object
 24  Opiate NOS             106 non-null    object
 25  Any Opioid             4417 non-null   object
 26  Manner of Death        5694 non-null   object
dtypes: datetime64[ns](1), float64(1), object(25)
memory usage: 1.2+ MB

In [41]:
# Change and lowercase column names
drug_death_df = drug_death.rename(columns = {
    'Date': 'date', 'Age':'age', 'Sex':'sex', 'Race':'race', 'Residence City': 'city', 'Residence County': 'county',
       'Residence State': 'state', 'Manner of Death': 'manner_of_death', 'Cause of Death': 'cause_of_death',
        'Heroin': 'heroin', 'Cocaine':'cocaine', 'Fentanyl':'fentanyl','Fentanyl Analogue':'fentanyl_analogue', 
        'Oxycodone':'oxycodone', 'Oxymorphone': 'oxymorphone', 'Ethanol':'ethanol', 'Hydrocodone':'hydrocodone', 
        'Benzodiazepine':'benzodiazepine', 'Methadone':'methadone', 'Amphet':'amphet', 'Tramad':'tramad',
        'Morphine (Not Heroin)':'morphine_not_heroin', 'Hydromorphone':'hydromorphone', 'Xylazine':'xylazine',
         'Other':'other', 'Opiate NOS':'opiate_nos', 'Any Opioid':'any_opioid'})
drug_death_df.columns

Index(['date', 'age', 'sex', 'race', 'city', 'county', 'state',
       'cause_of_death', 'heroin', 'cocaine', 'fentanyl', 'fentanyl_analogue',
       'oxycodone', 'oxymorphone', 'ethanol', 'hydrocodone', 'benzodiazepine',
       'methadone', 'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone',
       'xylazine', 'other', 'opiate_nos', 'any_opioid', 'manner_of_death'],
      dtype='object')

In [42]:
# Create index for the dataframe
drug_death_df.insert(0, 'id', range(1, 1+ len(drug_death_df)))

In [43]:
drug_death_df.set_index("id")
drug_death_df.head(3)

,id,date,age,sex,race,city,county,state,cause_of_death,heroin,...,methadone,amphet,tramad,morphine_not_heroin,hydromorphone,xylazine,other,opiate_nos,any_opioid,manner_of_death
5,1,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Acute Cocaine Toxicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
6,2,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Acute Heroin Toxicity,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
8,3,2015-05-26,38.0,Female,White,WATERBURY,NEW HAVEN,CT,Cocaine,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident

In [44]:
# Split drug_death_df into two dataframes
tar_cols1 = ['id', 'date', 'age', 'sex', 'race', 'city', 'county', 'state', 'manner_of_death', 'cause_of_death']
death_df = drug_death_df[tar_cols1].copy()
tar_cols2 = ['id','date', 'age', 'sex', 'race', 'city', 'county', 'state', 'manner_of_death', 'heroin', 'cocaine', 'fentanyl', 
            'fentanyl_analogue', 'oxycodone', 'oxymorphone', 'ethanol', 'hydrocodone', 'benzodiazepine','methadone', 
            'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone','xylazine', 'other', 'opiate_nos', 'any_opioid']
drug_type_df = drug_death_df[tar_cols2].copy()

In [45]:
death_df.head()

,id,date,age,sex,race,city,county,state,manner_of_death,cause_of_death
5,1,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Accident,Acute Cocaine Toxicity
6,2,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Accident,Acute Heroin Toxicity
8,3,2015-05-26,38.0,Female,White,WATERBURY,NEW HAVEN,CT,Accident,Cocaine
9,4,2015-07-17,42.0,Male,White,CANTERBURY,WINDHAM,CT,Accident,Acute Heroin Toxicity
11,5,2016-01-17,26.0,Male,Black,BRISTOL,HARTFORD,CT,Accident,Acute Intoxication from the Combined Effects o...

In [46]:
drug_type_df.columns

Index(['id', 'date', 'age', 'sex', 'race', 'city', 'county', 'state',
       'manner_of_death', 'heroin', 'cocaine', 'fentanyl', 'fentanyl_analogue',
       'oxycodone', 'oxymorphone', 'ethanol', 'hydrocodone', 'benzodiazepine',
       'methadone', 'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone',
       'xylazine', 'other', 'opiate_nos', 'any_opioid'],
      dtype='object')

In [47]:
# drug_type_df['heroin'].replace({'NaN':'N'}, inplace=True)
drug_list = ['heroin', 'cocaine', 'fentanyl', 'fentanyl_analogue',
       'oxycodone', 'oxymorphone', 'ethanol', 'hydrocodone', 'benzodiazepine',
       'methadone', 'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone',
       'xylazine', 'other', 'opiate_nos', 'any_opioid']
for x in drug_list:
   drug_type_df[x] = drug_type_df[x].replace(np.nan, 'N')

In [48]:
drug_type_df

,id,date,age,sex,race,city,county,state,manner_of_death,heroin,...,benzodiazepine,methadone,amphet,tramad,morphine_not_heroin,hydromorphone,xylazine,other,opiate_nos,any_opioid
5,1,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Accident,N,...,N,N,N,N,N,N,N,N,N,N
6,2,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Accident,Y,...,N,N,N,N,N,N,N,N,N,Y
8,3,2015-05-26,38.0,Female,White,WATERBURY,NEW HAVEN,CT,Accident,N,...,N,N,N,N,N,N,N,N,N,N
9,4,2015-07-17,42.0,Male,White,CANTERBURY,WINDHAM,CT,Accident,Y,...,N,N,N,N,N,N,N,N,N,Y
11,5,2016-01-17,26.0,Male,Black,BRISTOL,HARTFORD,CT,Accident,Y,...,N,N,N,N,N,N,N,N,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7673,5690,2018-08-18,51.0,Female,Black,WATERBURY,NEW HAVEN,CT,Accident,Y,...,Y,N,N,N,N,N,N,N,N,Y
7675,5691,2020-11-19,62.0,Female,White,STAMFORD,FAIRFIELD,CT,Accident,Y,...,Y,N,Y,N,N,N,N,N,N,Y
7676,5692,2020-10-31,50.0,Female,White,NEW BRITAIN,HARTFORD,CT,Accident,N,...,N,N,N,N,N,N,Y,N,N,Y
7677,5693,2016-09-17,36.0,Male,White,SHELTON,FAIRFIELD,CT,Accident,Y,...,Y,N,N,N,N,N,N,N,N,Y
7678,5694,2019-10-25,33.0,Male,White,NEW HAVEN,NEW HAVEN,CT,Accident,N,...,N,N,N,N,N,N,N,N,N,Y

In [49]:
drug_type_df.set_index('id', inplace=True)

In [50]:
drug_type_df.head()

,date,age,sex,race,city,county,state,manner_of_death,heroin,cocaine,...,benzodiazepine,methadone,amphet,tramad,morphine_not_heroin,hydromorphone,xylazine,other,opiate_nos,any_opioid
id,,,,,,,,,,,,,,,,,,,,,
1,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Accident,N,Y,...,N,N,N,N,N,N,N,N,N,N
2,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Accident,Y,N,...,N,N,N,N,N,N,N,N,N,Y
3,2015-05-26,38.0,Female,White,WATERBURY,NEW HAVEN,CT,Accident,N,Y,...,N,N,N,N,N,N,N,N,N,N
4,2015-07-17,42.0,Male,White,CANTERBURY,WINDHAM,CT,Accident,Y,N,...,N,N,N,N,N,N,N,N,N,Y
5,2016-01-17,26.0,Male,Black,BRISTOL,HARTFORD,CT,Accident,Y,N,...,N,N,N,N,N,N,N,N,N,Y

# LOAD

In [51]:
# Create a connection to database

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Drug_CT_db')
conn = engine.connect()

In [52]:
engine.table_names()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['drug_overdose', 'census_ct', 'death_overdose', 'drug_type']

In [54]:
census_ct.to_sql(name='census_ct', con=engine, if_exists='append', index=True, method='multi')

In [ ]:
death_df.to_sql(name='death_overdose',con=engine,if_exists='append',index=True, method='multi')

In [55]:
drug_type_df.to_sql(name='drug_type', con=engine, if_exists='append', index=True, method='multi')

In [ ]:
# pd.read_sql_query('SELECT * FROM census_ct', con=engine)