### Related dependencies

In [100]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
import numpy as np
import requests
import psycopg2

from census import Census



# Import password and api key
from config2 import api_key, password

# Extract

### Perform API request for census data from 2012 to 2019

In [101]:
# Retrive census data for 2010
c = Census(api_key, year=2012)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2012'
census_2012 = census_pd

In [102]:
# Retrive census data for 2013
c = Census(api_key, year=2013)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2013'
census_2013 = census_pd

In [103]:
# Retrive census data for 2014
c = Census(api_key, year=2014)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2014'
census_2014 = census_pd

In [104]:
# Retrive census data for 2015
c = Census(api_key, year=2015)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2015'
census_2015 = census_pd

In [105]:
# Retrive census data for 2016
c = Census(api_key, year=2016)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2016'
census_2016 = census_pd

In [106]:
# Retrive census data for 2017
c = Census(api_key, year=2017)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2017'
census_2017 = census_pd

In [107]:
# Retrive census data for 2018
c = Census(api_key, year=2018)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2018'
census_2018 = census_pd

In [108]:
# Retrive census data for 2019
c = Census(api_key, year=2019)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E"), {'for':'county:*','in':'state:09'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Non Educated",
                                      "NAME": "Name", "state": "State"})                                          
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)
census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
#Add year column
census_pd['Year'] = '2019'
census_2019 = census_pd

In [109]:
# merge all data frames from 2012 to 2019 and save as .csv format
frames = [census_2012, census_2013, census_2014, census_2015, census_2016, census_2017, census_2018, census_2019]
census_ct = pd.concat(frames)
census_ct

,Name,Household Income,White,Black,American Indian,Asian,Native Hawaiian,Two or more races,Hispanic,Population,Median Age,Per Capita Income,Poverty Count,Non Educated,State,county,County,Poverty Rate,Year
0,"Windham County, Connecticut",58489.0,108037.0,2233.0,337.0,1420.0,44.0,3111.0,11332.0,118046.0,39.4,27456.0,13303.0,865.0,09,015,Windham County,11.269336,2012
1,"Middlesex County, Connecticut",76659.0,147872.0,7618.0,126.0,4430.0,82.0,3417.0,7968.0,165639.0,43.0,39776.0,9517.0,703.0,09,007,Middlesex County,5.745628,2012
2,"New Haven County, Connecticut",62234.0,649827.0,107283.0,2188.0,30743.0,416.0,21164.0,129612.0,860995.0,39.1,32487.0,100343.0,6236.0,09,009,New Haven County,11.654307,2012
3,"Litchfield County, Connecticut",71345.0,178558.0,2229.0,507.0,3099.0,8.0,3100.0,8575.0,189277.0,44.4,37410.0,11472.0,871.0,09,005,Litchfield County,6.060958,2012
4,"Hartford County, Connecticut",64752.0,654726.0,117181.0,2327.0,38823.0,397.0,24451.0,137155.0,893504.0,39.9,34356.0,99425.0,6892.0,09,003,Hartford County,11.127538,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,"New London County, Connecticut",73490.0,215896.0,15537.0,1650.0,11091.0,84.0,14271.0,28213.0,267390.0,41.4,39426.0,24040.0,1531.0,09,011,New London County,8.990613,2019
4,"Middlesex County, Connecticut",85898.0,143486.0,9119.0,312.0,5017.0,10.0,3367.0,10095.0,163053.0,45.7,46023.0,10944.0,819.0,09,007,Middlesex County,6.711928,2019
5,"Tolland County, Connecticut",87069.0,132820.0,4806.0,88.0,7371.0,3.0,3579.0,8332.0,151063.0,37.7,41371.0,9996.0,313.0,09,013,Tolland County,6.617107,2019
6,"Fairfield County, Connecticut",95645.0,688856.0,109186.0,2074.0,50339.0,540.0,29740.0,185996.0,943926.0,40.6,57263.0,82327.0,8138.0,09,001,Fairfield County,8.721764,2019
7,"Litchfield County, Connecticut",79906.0,168841.0,3165.0,498.0,3438.0,9.0,3959.0,11436.0,182002.0,47.3,44480.0,12416.0,881.0,09,005,Litchfield County,6.821903,2019

### Read CSV file for drug overdose accident in Connecticus from 2012 to 2020

In [150]:
drug_df = pd.read_csv("resources/Accidental_Drug_Related_Deaths_2012-2020.csv")
drug_df.columns

Index(['ID', 'Date', 'Date Type', 'Age', 'Sex', 'Race', 'Residence City',
       'Residence County', 'Residence State', 'Death City', 'Death County',
       'Location', 'Location if Other', 'Description of Injury',
       'Injury Place', 'Injury City', 'Injury County', 'Injury State',
       'Cause of Death', 'Other Significant Conditions ', 'Heroin', 'Cocaine',
       'Fentanyl', 'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine (Not Heroin)', 'Hydromorphone', 'Xylazine', 'Other',
       'Opiate NOS', 'Any Opioid', 'Manner of Death', 'DeathCityGeo',
       'ResidenceCityGeo', 'InjuryCityGeo'],
      dtype='object')

In [ ]:
drug_ct_df = drug_df.loc(drug_df[])

In [151]:
drug_df['Reseden'].unique()

array(['FAIRFIELD', 'MIDDLESEX', 'HARTFORD', 'LITCHFIELD', 'NEW LONDON',
       'WINDHAM', nan, 'TOLLAND', 'NEW HAVEN', 'USA'], dtype=object)

In [ ]:
drug_df['Death County'].unique()

# TRANSFORM

## Clean census data

In [111]:
census_ct.head(2)

,Name,Household Income,White,Black,American Indian,Asian,Native Hawaiian,Two or more races,Hispanic,Population,Median Age,Per Capita Income,Poverty Count,Non Educated,State,county,County,Poverty Rate,Year
0,"Windham County, Connecticut",58489.0,108037.0,2233.0,337.0,1420.0,44.0,3111.0,11332.0,118046.0,39.4,27456.0,13303.0,865.0,09,015,Windham County,11.269336,2012
1,"Middlesex County, Connecticut",76659.0,147872.0,7618.0,126.0,4430.0,82.0,3417.0,7968.0,165639.0,43.0,39776.0,9517.0,703.0,09,007,Middlesex County,5.745628,2012

In [112]:
# Drop some columns
census_ct = census_ct[[ 'Year',  'County', 'Household Income', 'Population','White', 'Black', 'American Indian',
       'Asian', 'Native Hawaiian', 'Hispanic','Median Age', 'Per Capita Income', 'Poverty Count','Poverty Rate','Non Educated']]
# Split and extract only county
county_lst = census_ct.County.tolist()
county_lst = [x.strip("County") for x in county_lst]
census_ct.County = county_lst
census_ct.head()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Year,County,Household Income,Population,White,Black,American Indian,Asian,Native Hawaiian,Hispanic,Median Age,Per Capita Income,Poverty Count,Poverty Rate,Non Educated
0,2012,Windham,58489.0,118046.0,108037.0,2233.0,337.0,1420.0,44.0,11332.0,39.4,27456.0,13303.0,11.269336,865.0
1,2012,Middlesex,76659.0,165639.0,147872.0,7618.0,126.0,4430.0,82.0,7968.0,43.0,39776.0,9517.0,5.745628,703.0
2,2012,New Haven,62234.0,860995.0,649827.0,107283.0,2188.0,30743.0,416.0,129612.0,39.1,32487.0,100343.0,11.654307,6236.0
3,2012,Litchfield,71345.0,189277.0,178558.0,2229.0,507.0,3099.0,8.0,8575.0,44.4,37410.0,11472.0,6.060958,871.0
4,2012,Hartford,64752.0,893504.0,654726.0,117181.0,2327.0,38823.0,397.0,137155.0,39.9,34356.0,99425.0,11.127538,6892.0

In [113]:
census_ct["County"] = census_ct["County"].str.upper()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [114]:
census_ct.insert(0, 'id', range(1, 1+ len(census_ct)))
census_ct.set_index("id", inplace=True)

census_ct.to_csv("Resources/census_CT.csv")

In [115]:
census_ct.head()

,Year,County,Household Income,Population,White,Black,American Indian,Asian,Native Hawaiian,Hispanic,Median Age,Per Capita Income,Poverty Count,Poverty Rate,Non Educated
id,,,,,,,,,,,,,,,
1,2012,WINDHAM,58489.0,118046.0,108037.0,2233.0,337.0,1420.0,44.0,11332.0,39.4,27456.0,13303.0,11.269336,865.0
2,2012,MIDDLESEX,76659.0,165639.0,147872.0,7618.0,126.0,4430.0,82.0,7968.0,43.0,39776.0,9517.0,5.745628,703.0
3,2012,NEW HAVEN,62234.0,860995.0,649827.0,107283.0,2188.0,30743.0,416.0,129612.0,39.1,32487.0,100343.0,11.654307,6236.0
4,2012,LITCHFIELD,71345.0,189277.0,178558.0,2229.0,507.0,3099.0,8.0,8575.0,44.4,37410.0,11472.0,6.060958,871.0
5,2012,HARTFORD,64752.0,893504.0,654726.0,117181.0,2327.0,38823.0,397.0,137155.0,39.9,34356.0,99425.0,11.127538,6892.0

In [116]:
census_ct.columns = map(str.lower, census_ct.columns)

In [117]:
census_ct = census_ct.rename(columns = {'household income':'household_income','white':'white_population_rate', 'black':'black_population_rate',
       'american indian':'american_indian_population_rate', 'asian':'asian_population_rate', 'native hawaiian':'native_hawaiian_population_rate', 'hispanic':'hispanic_population_rate', 'median age':'median_age',
       'per capita income':'per_capita_income', 'poverty count':'poverty_count', 'poverty rate':'poverty_rate', 'non educated':'uneducated_rate'})
census_ct.head()

,year,county,household_income,population,white_population_rate,black_population_rate,american_indian_population_rate,asian_population_rate,native_hawaiian_population_rate,hispanic_population_rate,median_age,per_capita_income,poverty_count,poverty_rate,uneducated_rate
id,,,,,,,,,,,,,,,
1,2012,WINDHAM,58489.0,118046.0,108037.0,2233.0,337.0,1420.0,44.0,11332.0,39.4,27456.0,13303.0,11.269336,865.0
2,2012,MIDDLESEX,76659.0,165639.0,147872.0,7618.0,126.0,4430.0,82.0,7968.0,43.0,39776.0,9517.0,5.745628,703.0
3,2012,NEW HAVEN,62234.0,860995.0,649827.0,107283.0,2188.0,30743.0,416.0,129612.0,39.1,32487.0,100343.0,11.654307,6236.0
4,2012,LITCHFIELD,71345.0,189277.0,178558.0,2229.0,507.0,3099.0,8.0,8575.0,44.4,37410.0,11472.0,6.060958,871.0
5,2012,HARTFORD,64752.0,893504.0,654726.0,117181.0,2327.0,38823.0,397.0,137155.0,39.9,34356.0,99425.0,11.127538,6892.0

In [118]:
census_ct['year'] = pd.to_datetime(census_ct['year'])
census_ct

,year,county,household_income,population,white_population_rate,black_population_rate,american_indian_population_rate,asian_population_rate,native_hawaiian_population_rate,hispanic_population_rate,median_age,per_capita_income,poverty_count,poverty_rate,uneducated_rate
id,,,,,,,,,,,,,,,
1,2012-01-01,WINDHAM,58489.0,118046.0,108037.0,2233.0,337.0,1420.0,44.0,11332.0,39.4,27456.0,13303.0,11.269336,865.0
2,2012-01-01,MIDDLESEX,76659.0,165639.0,147872.0,7618.0,126.0,4430.0,82.0,7968.0,43.0,39776.0,9517.0,5.745628,703.0
3,2012-01-01,NEW HAVEN,62234.0,860995.0,649827.0,107283.0,2188.0,30743.0,416.0,129612.0,39.1,32487.0,100343.0,11.654307,6236.0
4,2012-01-01,LITCHFIELD,71345.0,189277.0,178558.0,2229.0,507.0,3099.0,8.0,8575.0,44.4,37410.0,11472.0,6.060958,871.0
5,2012-01-01,HARTFORD,64752.0,893504.0,654726.0,117181.0,2327.0,38823.0,397.0,137155.0,39.9,34356.0,99425.0,11.127538,6892.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2019-01-01,NEW LONDON,73490.0,267390.0,215896.0,15537.0,1650.0,11091.0,84.0,28213.0,41.4,39426.0,24040.0,8.990613,1531.0
61,2019-01-01,MIDDLESEX,85898.0,163053.0,143486.0,9119.0,312.0,5017.0,10.0,10095.0,45.7,46023.0,10944.0,6.711928,819.0
62,2019-01-01,TOLLAND,87069.0,151063.0,132820.0,4806.0,88.0,7371.0,3.0,8332.0,37.7,41371.0,9996.0,6.617107,313.0
63,2019-01-01,FAIRFIELD,95645.0,943926.0,688856.0,109186.0,2074.0,50339.0,540.0,185996.0,40.6,57263.0,82327.0,8.721764,8138.0
64,2019-01-01,LITCHFIELD,79906.0,182002.0,168841.0,3165.0,498.0,3438.0,9.0,11436.0,47.3,44480.0,12416.0,6.821903,881.0

## Drug overdose death data cleaning

In [132]:
#Create dataframe for specific columns
drug_df[['City','state','Lat']] = drug_df['ResidenceCityGeo'].str.split(',',expand=True)

drug_df[['state','Lat']] = drug_df['state'].str.split('\n',expand=True)

In [133]:
drug_cols = ['ID','Date','Sex','Race','Cause of Death','Residence County','City','state']
drug_transformed = drug_df[drug_cols].copy()

drug_transformed.head(20)


drug_transformed = drug_transformed.replace('\n','',regex=True)
drug_transformed.head()

,ID,Date,Sex,Race,Cause of Death,Residence County,City,state
0,12-0187,07/17/2012,Female,White,"1,1-Difluoroethane Toxicity",PUTNAM,NaN,NaN
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,MIDDLESEX,PORTLAND,CT
2,13-0146,04/28/2013,Male,White,Acute Heroin Toxicity,NaN,CT(41.575155,-72.738288)
3,14-0150,04/06/2014,Male,White,Heroin and Cocaine Intoxication,NaN,WATERBURY,CT
4,14-0183,04/27/2014,Male,White,Acute Heroin Intoxication,NaN,NEW LONDON,CT

In [134]:
newdrug_df = drug_transformed[~drug_transformed['City'].fillna('').str.findall(r'\d').astype(bool)]
newdrug_df.head()

,ID,Date,Sex,Race,Cause of Death,Residence County,City,state
0,12-0187,07/17/2012,Female,White,"1,1-Difluoroethane Toxicity",PUTNAM,NaN,NaN
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,MIDDLESEX,PORTLAND,CT
3,14-0150,04/06/2014,Male,White,Heroin and Cocaine Intoxication,NaN,WATERBURY,CT
4,14-0183,04/27/2014,Male,White,Acute Heroin Intoxication,NaN,NEW LONDON,CT
5,15-0023,01/12/2015,Male,White,Acute Cocaine Toxicity,NEW LONDON,NEW LONDON,CT

In [135]:
newdrug_df.dropna(how = 'any',inplace=True)
newdrug_df

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ID,Date,Sex,Race,Cause of Death,Residence County,City,state
1,12-0258,10/01/2012,Male,White,Heroin Toxicity,MIDDLESEX,PORTLAND,CT
5,15-0023,01/12/2015,Male,White,Acute Cocaine Toxicity,NEW LONDON,NEW LONDON,CT
6,15-0052,02/01/2015,Male,White,Acute Heroin Toxicity,MIDDLESEX,MIDDLETOWN,CT
8,15-0249,05/26/2015,Female,White,Cocaine,NEW HAVEN,WATERBURY,CT
9,15-0365,07/17/2015,Male,White,Acute Heroin Toxicity,WINDHAM,CANTERBURY,CT
...,...,...,...,...,...,...,...,...
7673,18-0648,08/18/2018,Female,Black,"Multidrug Toxicity Including Cocaine, Fentanyl...",NEW HAVEN,WATERBURY,CT
7675,20-1217,11/19/2020,Female,White,"Multidrug Toxicity Including Cocaine, Fentanyl...",FAIRFIELD,STAMFORD,CT
7676,20-1138,10/31/2020,Female,White,Acute Intoxication Due To The Combined Effects...,HARTFORD,NEW BRITAIN,CT
7677,16-0640,09/17/2016,Male,White,Acute Intoxication The Combined Effects of Her...,FAIRFIELD,SHELTON,CT
7678,19-0963,10/25/2019,Male,White,Pulmonary Embolus Complicating Lower Extremity...,NEW HAVEN,NEW HAVEN,CT

In [136]:
newdrug_df['Date']=pd.to_datetime(newdrug_df['Date'])

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [137]:
newdrug_df=newdrug_df.rename(columns={'ID':'drugid',
                                      'Date':'date',
                                       'Sex':'sex',
                                      'Race':'race',
                                      'Cause of Death':'cause_of_death',
                                      'Residence County':'county',
                                      'City':'city'})

In [138]:
newdrug_df.insert(0, 'id', range(1, 1+ len(newdrug_df)))

In [139]:
newdrug_df.set_index("id",inplace=True)

In [146]:
newdrug_df.county.unique()

array(['MIDDLESEX', 'NEW LONDON', 'NEW HAVEN', 'WINDHAM', 'HARTFORD',
       'TOLLAND', 'FAIRFAX', 'FAIRFIELD', 'LITCHFIELD', 'CARROLL',
       'BRISTOL', 'NEW HANOVER', 'BREVARD', 'BRUNSWICK', 'WESTCHESTER',
       'WASHINGTON', 'KINGS', 'DAUPHIN', 'SAINT LUCIE', 'OTSEGO',
       'LOS ANGELES', 'DUTCHESS', 'APPOMATTOX', 'PUTNAM', 'MONMOUTH',
       'ROCKINGHAM', 'ESSEX', 'HAMPDEN', 'NEW YORK', 'PALM BEACH',
       'ULSTER', 'GLOUCESTER', 'SUFFOLK', 'HARRIS', 'USA', 'FRANKLIN',
       'SAN FRANCISCO', 'PLYMOUTH', 'HIGHLANDS', 'NASSAU', 'MUSCOGEE',
       'PROVIDENCE', 'HILLSBOROUGH', 'BENNINGTON', 'COVINGTON', 'DURHAM',
       'HAMPSHIRE', 'KNOX', 'BEAUFORT', 'CLINTON', 'PASSAIC', 'NEWPORT',
       'ORANGE', 'LEE', 'WILLIAMSON', 'LEON', 'UNION', 'KENT', 'BRONX',
       'JEFFERSON', 'SANTA CRUZ'], dtype=object)

In [153]:

count_list = [â€˜FAIRFIELDâ€™, â€˜MIDDLESEXâ€™, â€˜HARTFORDâ€™, â€˜LITCHFIELDâ€™, â€˜NEW LONDONâ€™,
       â€˜WINDHAMâ€™,â€˜TOLLANDâ€™, â€˜NEW HAVENâ€™]
newdrug_df = newdrug_df.loc([newdrug_df['county'] = â€˜FAIRFIELDâ€™])

SyntaxError: invalid character in identifier (<ipython-input-153-fe7b8d984cd9>, line 1)

# LOAD

In [119]:
# Create a connection to database

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Drug_CT_db')
conn = engine.connect()

In [120]:
engine.table_names()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['census_ct']

In [126]:
census_ct.to_sql(name='census_ct', con=engine, if_exists='append', index=True, method='multi')

In [142]:
newdrug_df.to_sql(name='drug_overdose',con=engine,if_exists='append',index=True, method='multi')

In [124]:
pd.read_sql_query('SELECT * FROM census_ct', con=engine)

,id,year,county,household_income,population,white_population_rate,black_population_rate,american_indian_population_rate,asian_population_rate,native_hawaiian_population_rate,hispanic_population_rate,median_age,per_capita_income,poverty_count,poverty_rate,uneducated_rate
0,1,2012-01-01,WINDHAM,58489.0,118046.0,108037.0,2233.0,337.0,1420.0,44.0,11332.0,39.4,27456.0,13303.0,11.269336,865.0
1,2,2012-01-01,MIDDLESEX,76659.0,165639.0,147872.0,7618.0,126.0,4430.0,82.0,7968.0,43.0,39776.0,9517.0,5.745628,703.0
2,3,2012-01-01,NEW HAVEN,62234.0,860995.0,649827.0,107283.0,2188.0,30743.0,416.0,129612.0,39.1,32487.0,100343.0,11.654307,6236.0
3,4,2012-01-01,LITCHFIELD,71345.0,189277.0,178558.0,2229.0,507.0,3099.0,8.0,8575.0,44.4,37410.0,11472.0,6.060958,871.0
4,5,2012-01-01,HARTFORD,64752.0,893504.0,654726.0,117181.0,2327.0,38823.0,397.0,137155.0,39.9,34356.0,99425.0,11.127538,6892.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,60,2019-01-01,NEW LONDON,73490.0,267390.0,215896.0,15537.0,1650.0,11091.0,84.0,28213.0,41.4,39426.0,24040.0,8.990613,1531.0
124,61,2019-01-01,MIDDLESEX,85898.0,163053.0,143486.0,9119.0,312.0,5017.0,10.0,10095.0,45.7,46023.0,10944.0,6.711928,819.0
125,62,2019-01-01,TOLLAND,87069.0,151063.0,132820.0,4806.0,88.0,7371.0,3.0,8332.0,37.7,41371.0,9996.0,6.617107,313.0
126,63,2019-01-01,FAIRFIELD,95645.0,943926.0,688856.0,109186.0,2074.0,50339.0,540.0,185996.0,40.6,57263.0,82327.0,8.721764,8138.0
127,64,2019-01-01,LITCHFIELD,79906.0,182002.0,168841.0,3165.0,498.0,3438.0,9.0,11436.0,47.3,44480.0,12416.0,6.821903,881.0