In [1]:
import pandas as pd
import numpy as np

In [2]:
dict={'drug1':['N','Y','N','N','N','N'],
     'drug2':['Y','N','N','N','A','N'],
     'drug3':['N','Y','N','Y','N','N'],
     'drug4':['N','N','N','N','Y','N']}

In [3]:
df=pd.DataFrame(dict)

df

  drug1 drug2 drug3 drug4
0     N     Y     N     N
1     Y     N     Y     N
2     N     N     N     N
3     N     N     Y     N
4     N     A     N     Y
5     N     N     N     N

In [4]:
# df['drug1']=''
# df['drug2']=''
# df['drug3']=''
# df['drug4']=''

In [5]:
list=['drug1','drug2','drug3','drug4']
for index, row in df.iterrows():
    for col in list:
        if row[col]=='Y':
            row[col]= col

In [6]:
df

   drug1  drug2  drug3  drug4
0      N  drug2      N      N
1  drug1      N  drug3      N
2      N      N      N      N
3      N      N  drug3      N
4      N      A      N  drug4
5      N      N      N      N

In [7]:
# df['drugname'] = df[['drug1', 'drug2', 'drug3','drug4']].agg(','.join, axis=1)

In [8]:
df

   drug1  drug2  drug3  drug4
0      N  drug2      N      N
1  drug1      N  drug3      N
2      N      N      N      N
3      N      N  drug3      N
4      N      A      N  drug4
5      N      N      N      N