In [4]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import datetime
import numpy as np
import requests
from census import Census

# Import password and api key
from myconfig import api_key, password

# EXTRACT

### Perform API request for census data from 2012 to 2019

In [4]:
# Create a list for target years
years = [2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
# Create a blank dataframe to store census data from different years
census_df = pd.DataFrame()
# Make API calls by looping through each years
for year in years:
    c = Census(api_key, year=year)
    census_data = c.acs5.get(("NAME", "B19013_001E", "B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_008E",
                        "B03001_003E","B01003_001E","B01002_001E","B19301_001E","B17001_002E","B15003_002E","B23025_005E"), {'for':'county:*','in':'state:09'})
    # Convert to DataFrame
    census_pd = pd.DataFrame(census_data)
    census_pd['Year'] = year 
    census_df = census_df.append(census_pd, ignore_index=True, sort=False)

In [5]:
# Save the initial file
census_df.to_csv("Resources/census_2012_2019.csv")

### Read CSV file for drug overdose accident in Connecticut from 2012 to 2020

In [5]:
drug_df = pd.read_csv("Resources/Accidental_Drug_Related_Deaths_2012-2020.csv")
drug_df.head(2)

,ID,Date,Date Type,Age,Sex,Race,Residence City,Residence County,Residence State,Death City,...,Morphine (Not Heroin),Hydromorphone,Xylazine,Other,Opiate NOS,Any Opioid,Manner of Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,12-0187,07/17/2012,DateofDeath,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,...,NaN,NaN,NaN,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)"
1,12-0258,10/01/2012,DateofDeath,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)"

# TRANSFORM

## Census data cleaning

In [7]:
census_df = pd.read_csv("Resources/census_2012_2019.csv")

In [8]:
# Rename columns and add a year column
census_df = census_df.rename(columns={"B01003_001E": "Population", "B02001_002E": "White","B02001_003E": "Black","B02001_004E": "American Indian",
                                        "B02001_005E": "Asian","B02001_006E": "Native Hawaiian","B02001_008E": "Two or more races",
                                        "B03001_003E": "Hispanic","B01002_001E": "Median Age", "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income","B17001_002E": "Poverty Count","B15003_002E":"Uneducated","B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

In [9]:
#Split NAME column to separate county and state
census = census_df["Name"].astype(str).str.split(pat=",").tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(census, columns = county_state)
census_df['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_df["Poverty Rate"] = 100 * \
    census_df["Poverty Count"].astype(
        int) / census_df["Population"].astype(int)
# Add in Uneducated Rate (Uneducated / Population)
census_df["Uneducated Rate"] = 100 * \
    census_df["Uneducated"].astype(
        int) / census_df["Population"].astype(int)

In [11]:
# Split and extract only county
county_lst = census_df.County.tolist()
county_lst = [x.strip("County") for x in county_lst]
census_df.County = county_lst
# Change county names to uppercase
census_df["County"] = census_df["County"].str.upper()

In [12]:
# Filter out unrelated columns
census_df = census_df[[ 'Year','County', 'Population','Median Age',
                            'Household Income','Per Capita Income','Poverty Rate','Uneducated Rate',
                             'White', 'Black', 'American Indian','Asian', 'Native Hawaiian', 'Hispanic']]

In [13]:
# lowercase column names
census_df.columns = map(str.lower, census_df.columns)

In [15]:
# Rename column names again to match database schema
census_df = census_df.rename(columns = {'household income':'household_income','white':'white_population_rate', 'black':'black_population_rate',
       'american indian':'american_indian_population_rate', 'asian':'asian_population_rate', 'native hawaiian':'native_hawaiian_population_rate', 'hispanic':'hispanic_population_rate', 'median age':'median_age',
       'per capita income':'per_capita_income', 'poverty rate':'poverty_rate', 'uneducated rate':'uneducated_rate'})

In [16]:
# Set index for the dataframe as "id"
census_df.insert(0, 'id', range(1, 1+ len(census_df)))
census_df.set_index("id", inplace=True)
census_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 1 to 64
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             64 non-null     int64
 1   county                           64 non-null     object
 2   population                       64 non-null     float64
 3   median_age                       64 non-null     float64
 4   household_income                 64 non-null     float64
 5   per_capita_income                64 non-null     float64
 6   poverty_rate                     64 non-null     float64
 7   uneducated_rate                  64 non-null     float64
 8   white_population_rate            64 non-null     float64
 9   black_population_rate            64 non-null     float64
 10  american_indian_population_rate  64 non-null     float64
 11  asian_population_rate            64 non-null     float64
 12  native_hawaiian_population_rate  64 non-null     float64
 13  hispanic_population_rate         64 non-null     float64
dtypes: float64(12), int64(1), object(1)
memory usage: 7.5+ KB

In [17]:
# Save as CSV file
census_df.to_csv("Resources/census_CT.csv")

## Drug overdose death data cleaning

In [6]:
# read CSV file
drug_accident = drug_df
drug_accident.head(2)

,ID,Date,Date Type,Age,Sex,Race,Residence City,Residence County,Residence State,Death City,...,Morphine (Not Heroin),Hydromorphone,Xylazine,Other,Opiate NOS,Any Opioid,Manner of Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,12-0187,07/17/2012,DateofDeath,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,...,NaN,NaN,NaN,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)"
1,12-0258,10/01/2012,DateofDeath,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)"

In [7]:
# Fitler out unrelated columns
target_cols = ['Date', 'Age', 'Sex', 'Race', 'Residence City',
       'Residence County', 'Residence State', 'Cause of Death', 'Heroin', 'Cocaine',
       'Fentanyl', 'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine (Not Heroin)', 'Hydromorphone', 'Xylazine', 'Other',
       'Opiate NOS', 'Any Opioid', 'Manner of Death']
drug_death = drug_accident[target_cols].copy()

In [8]:
# Filter only data from Connecticut
drug_death = drug_death.loc[drug_death['Residence State'] == 'CT']

In [9]:
# Check county death count
drug_death["Residence County"].value_counts()

HARTFORD      1643
NEW HAVEN     1612
FAIRFIELD      924
NEW LONDON     525
LITCHFIELD     352
MIDDLESEX      258
WINDHAM        222
TOLLAND        182
Name: Residence County, dtype: int64

In [10]:
# Check for any NaNs
drug_death.isnull().sum()

Date                        0
Age                         0
Sex                         7
Race                       13
Residence City              3
Residence County           58
Residence State             0
Cause of Death              0
Heroin                   3534
Cocaine                  3875
Fentanyl                 1913
Fentanyl Analogue        5246
Oxycodone                5250
Oxymorphone              5715
Ethanol                  4199
Hydrocodone              5686
Benzodiazepine           4219
Methadone                5251
Amphet                   5498
Tramad                   5609
Morphine (Not Heroin)    5736
Hydromorphone            5731
Xylazine                 5644
Other                    5393
Opiate NOS               5669
Any Opioid               1303
Manner of Death             1
dtype: int64

In [11]:
# Filter out any NaN in 'Race', 'Residence County' and 'Manner of Death'
drug_death = drug_death.dropna(subset=['Race', 'Sex', 'Residence City','Residence County', 'Manner of Death'])
drug_death.isnull().sum()

Date                        0
Age                         0
Sex                         0
Race                        0
Residence City              0
Residence County            0
Residence State             0
Cause of Death              0
Heroin                   3484
Cocaine                  3823
Fentanyl                 1886
Fentanyl Analogue        5173
Oxycodone                5172
Oxymorphone              5633
Ethanol                  4144
Hydrocodone              5606
Benzodiazepine           4159
Methadone                5180
Amphet                   5421
Tramad                   5528
Morphine (Not Heroin)    5655
Hydromorphone            5649
Xylazine                 5564
Other                    5315
Opiate NOS               5588
Any Opioid               1277
Manner of Death             0
dtype: int64

In [12]:
# Change data type of column 'Date' to datetime
drug_death['Date'] = pd.to_datetime(drug_death['Date'])

In [18]:
# Change and lowercase column names
drug_death_df = drug_death.rename(columns = {
    'Date': 'date', 'Age':'age', 'Sex':'sex', 'Race':'race', 'Residence City': 'city', 'Residence County': 'county',
       'Residence State': 'state', 'Manner of Death': 'manner_of_death', 'Cause of Death': 'cause_of_death',
        'Heroin': 'heroin', 'Cocaine':'cocaine', 'Fentanyl':'fentanyl','Fentanyl Analogue':'fentanyl_analogue', 
        'Oxycodone':'oxycodone', 'Oxymorphone': 'oxymorphone', 'Ethanol':'ethanol', 'Hydrocodone':'hydrocodone', 
        'Benzodiazepine':'benzodiazepine', 'Methadone':'methadone', 'Amphet':'amphet', 'Tramad':'tramad',
        'Morphine (Not Heroin)':'morphine_not_heroin', 'Hydromorphone':'hydromorphone', 'Xylazine':'xylazine',
         'Other':'other', 'Opiate NOS':'opiate_nos', 'Any Opioid':'any_opioid'})

In [19]:
# Reorganize the columns
tar_cols = ['date', 'age', 'sex', 'race', 'city', 'county', 'state', 'manner_of_death', 'heroin', 'cocaine', 'fentanyl', 
            'fentanyl_analogue', 'oxycodone', 'oxymorphone', 'ethanol', 'hydrocodone', 'benzodiazepine','methadone', 
            'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone','xylazine', 'other', 'opiate_nos', 'any_opioid']
drug_type_df = drug_death_df[tar_cols].copy()
drug_type_df.head(2)

,date,age,sex,race,city,county,state,manner_of_death,heroin,cocaine,...,benzodiazepine,methadone,amphet,tramad,morphine_not_heroin,hydromorphone,xylazine,other,opiate_nos,any_opioid
5,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Accident,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Accident,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y

In [20]:
drug_master = drug_type_df.copy()
drug_master.head()

,date,age,sex,race,city,county,state,manner_of_death,heroin,cocaine,...,benzodiazepine,methadone,amphet,tramad,morphine_not_heroin,hydromorphone,xylazine,other,opiate_nos,any_opioid
5,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Accident,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Accident,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
8,2015-05-26,38.0,Female,White,WATERBURY,NEW HAVEN,CT,Accident,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-07-17,42.0,Male,White,CANTERBURY,WINDHAM,CT,Accident,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
11,2016-01-17,26.0,Male,Black,BRISTOL,HARTFORD,CT,Accident,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y

In [21]:
# Create a list of drug for value transforming
drug_list = ['heroin', 'cocaine', 'fentanyl', 'fentanyl_analogue',
       'oxycodone', 'oxymorphone', 'ethanol', 'hydrocodone', 'benzodiazepine',
       'methadone', 'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone',
       'xylazine', 'other', 'opiate_nos', 'any_opioid']

In [26]:
for x in drug_list:
    drug_master[x] = drug_master[x].str.replace("YES", "1")
    drug_master[x] = drug_master[x].str.replace("Y-A", "1")
    drug_master[x] = drug_master[x].str.replace("Y", "1")
    drug_master[x] = drug_master[x].replace(np.NaN, "0")

In [27]:
drug_master.head()

,date,age,sex,race,city,county,state,manner_of_death,heroin,cocaine,...,benzodiazepine,methadone,amphet,tramad,morphine_not_heroin,hydromorphone,xylazine,other,opiate_nos,any_opioid
5,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Accident,0,1,...,0,0,0,0,0,0,0,0,0,0
6,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Accident,1,0,...,0,0,0,0,0,0,0,0,0,1
8,2015-05-26,38.0,Female,White,WATERBURY,NEW HAVEN,CT,Accident,0,1,...,0,0,0,0,0,0,0,0,0,0
9,2015-07-17,42.0,Male,White,CANTERBURY,WINDHAM,CT,Accident,1,0,...,0,0,0,0,0,0,0,0,0,1
11,2016-01-17,26.0,Male,Black,BRISTOL,HARTFORD,CT,Accident,1,0,...,0,0,0,0,0,0,0,0,0,1

In [29]:
drug_master.drop(['fentanyl_analogue',
       'oxycodone', 'oxymorphone', 'hydrocodone',
       'methadone', 'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone',
       'xylazine', 'other', 'opiate_nos', 'any_opioid' ], axis = 1, inplace=True)

In [30]:
drug_master.head()

,date,age,sex,race,city,county,state,manner_of_death,heroin,cocaine,fentanyl,ethanol,benzodiazepine
5,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Accident,0,1,0,0,0
6,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Accident,1,0,0,0,0
8,2015-05-26,38.0,Female,White,WATERBURY,NEW HAVEN,CT,Accident,0,1,0,0,0
9,2015-07-17,42.0,Male,White,CANTERBURY,WINDHAM,CT,Accident,1,0,0,0,0
11,2016-01-17,26.0,Male,Black,BRISTOL,HARTFORD,CT,Accident,1,0,1,0,0

In [32]:
drug_master["year"] = drug_master['date'].map(lambda x: x.year)

In [34]:
drug_master.drop([ 'date'], axis = 1, inplace=True)

In [56]:
drug_master.insert(0, 'id', range(1, 1+ len(drug_master)))
drug_master.set_index("id", inplace=True)

In [50]:
# Convert to integer
drug_master = drug_master.astype({'heroin':int, 
                                    'cocaine':int,
                                    'fentanyl':int,
                                    'ethanol':int,
                                    'ethanol':int,
                                    'benzodiazepine':int})

In [51]:
drug_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5694 entries, 1 to 5694
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5694 non-null   float64
 1   sex              5694 non-null   object
 2   race             5694 non-null   object
 3   city             5694 non-null   object
 4   county           5694 non-null   object
 5   state            5694 non-null   object
 6   manner_of_death  5694 non-null   object
 7   heroin           5694 non-null   int64
 8   cocaine          5694 non-null   int64
 9   fentanyl         5694 non-null   int64
 10  ethanol          5694 non-null   int64
 11  benzodiazepine   5694 non-null   int64
 12  year             5694 non-null   int64
dtypes: float64(1), int64(6), object(6)
memory usage: 622.8+ KB

In [ ]:
# Save to CSV file
drug_master.to_csv('Resources/drug_master.csv')

In [40]:
# Create a list of drug for value transforming
drug_list = ['heroin', 'cocaine', 'fentanyl', 'fentanyl_analogue',
       'oxycodone', 'oxymorphone', 'ethanol', 'hydrocodone', 'benzodiazepine',
       'methadone', 'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone',
       'xylazine', 'other', 'opiate_nos', 'any_opioid']

In [37]:
# Copy and assign a new dataframe to merge drug columns
drug_merge_df = drug_type_df.copy()
drug_merge_df.head(2)

,id,date,age,sex,race,city,county,state,manner_of_death,heroin,...,benzodiazepine,methadone,amphet,tramad,morphine_not_heroin,hydromorphone,xylazine,other,opiate_nos,any_opioid
5,1,2015-01-12,50.0,Male,White,NEW LONDON,NEW LONDON,CT,Accident,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,Accident,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y

In [31]:
# Extract only year from 'date' column
drug_merge_df["year"] = drug_merge_df['date'].map(lambda x: x.year)

In [41]:
# Check values in each drug columns
for x in drug_list: 
    print(drug_merge_df[x].value_counts())

Y    2210
Name: heroin, dtype: int64
Y    1871
Name: cocaine, dtype: int64
Y      3806
Y-A       2
Name: fentanyl, dtype: int64
Y    521
Name: fentanyl_analogue, dtype: int64
Y    522
Name: oxycodone, dtype: int64
Y    61
Name: oxymorphone, dtype: int64
Y    1550
Name: ethanol, dtype: int64
Y    88
Name: hydrocodone, dtype: int64
Y    1535
Name: benzodiazepine, dtype: int64
Y    514
Name: methadone, dtype: int64
Y    273
Name: amphet, dtype: int64
Y    166
Name: tramad, dtype: int64
Y                   35
NO RX BUT STRAWS     1
YES                  1
STOLE MEDS           1
PCP NEG              1
Name: morphine_not_heroin, dtype: int64
Y    45
Name: hydromorphone, dtype: int64
Y    130
Name: xylazine, dtype: int64
Xylazine             56
PCP                  50
Bupren               40
HYDROMORPH           26
BUPREN               22
                     ..
N-ETHYL-PENTYLONE     1
snorted               1
HYDMORPH              1
mitragynine           1
methoxyPCP            1
Name: other, Length: 94, dtype: int64
Y    106
Name: opiate_nos, dtype: int64
Y    4413
N       4
Name: any_opioid, dtype: int64

In [43]:
# list of columns that need to be fix
drug_list_fix = ['fentanyl', 'morphine_not_heroin', 'other']

In [44]:
# Replace different values that is not "Y" and "N"
for x in drug_list_fix:
    drug_merge_df[x] = drug_merge_df[x].str.replace("YES", "Y")
    drug_merge_df[x] = drug_merge_df[x].str.replace("Y-A", "Y")

In [45]:
# Replace other drugs by identifying by "other"
allow_val = ["NaN"]
drug_merge_df.loc[~drug_merge_df["other"].isin(allow_val), "other"] = "other"

In [47]:
# creat a list of columns to be merged
drug_list1 = ['heroin', 'cocaine', 'fentanyl', 'fentanyl_analogue',
       'oxycodone', 'oxymorphone', 'ethanol', 'hydrocodone', 'benzodiazepine',
       'methadone', 'amphet', 'tramad', 'morphine_not_heroin', 'hydromorphone',
       'xylazine', 'opiate_nos', 'any_opioid']

In [48]:
# Replacing "Y" by drug names in each columns
for x in drug_list1:
    drug_merge_df[x] = drug_merge_df[x].str.replace("Y" , x)

In [49]:
# Merge the columns in to 'drug type' columns
drug_merge_df['drug_type'] = drug_merge_df[drug_merge_df.columns[10:]].apply(lambda x: ', '.join(x[x.notnull()]), axis=1)

In [50]:
# Extract only year from 'date' column
drug_merge_df["year"] = drug_merge_df['date'].map(lambda x: x.year)

In [51]:
# Sellect only related columns
drug_merge_df = drug_merge_df[['id', 'year', 'age', 'sex', 'race', 'city', 'county', 'manner_of_death', 'drug_type']].copy()

In [52]:
# Reset 'id' as index

drug_merge_df.set_index('id', inplace=True)

In [53]:
# Save the final datafram to CSV format
drug_merge_df.to_csv('Resources/drug_type.csv')

In [54]:
# Preview the final product
drug_merge_df.head()

,year,age,sex,race,city,county,manner_of_death,drug_type
id,,,,,,,,
1,2015,50.0,Male,White,NEW LONDON,NEW LONDON,Accident,"cocaine, other"
2,2015,52.0,Male,White,MIDDLETOWN,MIDDLESEX,Accident,"other, any_opioid"
3,2015,38.0,Female,White,WATERBURY,NEW HAVEN,Accident,"cocaine, other"
4,2015,42.0,Male,White,CANTERBURY,WINDHAM,Accident,"other, any_opioid"
5,2016,26.0,Male,Black,BRISTOL,HARTFORD,Accident,"fentanyl, other, any_opioid"

# LOAD

In [52]:
# Create a connection to database

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/drug_connecticut_db')
conn = engine.connect()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [53]:
engine.table_names()

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['census_ct', 'death_overdose', 'drug_type', 'drug_master']

In [63]:
census_df.to_sql(name='census_ct', con=engine, if_exists='append', index=True, method='multi')

In [66]:
drug_merge_df.to_sql(name='drug_type', con=engine, if_exists='append', index=True, method='multi')

In [55]:
drug_master.to_sql(name='drug_master', con=engine, if_exists='append', index=True, method='multi')